<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | default: include.app.name }} - {{ include.app.name }}</title>
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/{{ include.app.slug }}/favicon.ico">

<!-- Tailwind CSS (v3 Play CDN with Typography plugin) -->
<script src="https://cdn.tailwindcss.com?plugins=typography"></script>

<!-- Marked.js -->
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
